{% extends "layout.html" %}
{% block title %}Statistics &mdash;{% endblock %}
{% block content %}

<ul class="nav nav-tabs" role="navigation">
  <li class="nav-item"><a class="nav-link {{ 'active' if panel == 'log' }}" href="{{ url_for('c.admin', panel='log') }}">Error Log</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if panel == 'users' }}" href="{{ url_for('c.admin', panel='users') }}">Users</a></li>
  <li class="nav-item"><a class="nav-link {{ 'active' if panel == 'interact' }}" href="{{ url_for('c.admin', panel='interact') }}">Postcards</a></li>
</ul>

{% if panel == 'users' %}

{{ users }}

{% elif panel == 'interact' %}

<h1>Received Postcards</h1>
{{ received }}

<h1>All Postcards</h1>
{{ codes }}

<h1>Requests</h1>
{{ requests }}

{% elif panel == 'log' %}

<div class="text-light bg-dark text-monospace p-1" style="font-size: 8pt;">
{% for line in log %}{{ line }}<br>{% endfor %}
</div>

{% endif %}

{% endblock %}
