<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} OSM Cards</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ dated_url_for('static', filename='style.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-light navbar-expand-sm" style="background-color: #e3f2fd;">
        <a class="navbar-brand mb-0 h1" href="{{ url_for('c.front') }}">OSM Cards</a>
        {% if g.user and g.user.is_registered %}
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('c.user') }}">{{ _("Settings") }}</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link px-2" href="https://wiki.openstreetmap.org/wiki/{{ _("OSM_Cards") }}">{{ _("About") }}</a>
          </li>
        </ul>
        {% if g.user.is_admin %}
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('c.admin') }}">Admin</a>
          </li>
        </ul>
        {% endif %}
        <div class="collapse navbar-collapse flex-grow-0">
          <div class="navbar-text">
            {{ _('Hello, %(username)s', username=g.user.name) }}!
          </div>
        </div>
        {% endif %}
      </nav>

      <div class="container-md py-4">
{% with messages = get_flashed_messages(True) %}
  {% if messages %}
    {% for message in messages %}
      {% if message[0] == 'info' %}
        <div class="alert alert-success">{{ message[1] }}</div>
      {% else %}
        <div class="alert alert-warning">{{ message[1] }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
            {% block content %}{% endblock %}
      </div>
{% if g.user %}
    <form action="{{ url_for('c.set_lang') }}" id="langform" method="post">
        <input type="hidden" name="redirect" value="{{ request.path }}">
        <input type="hidden" id="setlang" name="lang" value="{{ g.user.lang }}">
    </form>
    <script>
        function submitLang(lang) {
            var f = document.getElementById('langform');
            f.lang.value = lang;
            f.submit();
        }
    </script>
{% endif %}
    </body>
</html>
