{% extends "layout.html" %}
{% block title %}
{% if g.user and g.user.is_registered %}
{{ g.user.name }}
{% else %}
Welcome
{% endif %}
&mdash;
{% endblock %}
{% block content %}

{% if not g.user.is_registered %}
  <h2>Welcome to OSM Cards!</h2>
  <p>Please fill in your name and address to start using the service.</p>
{% else %}
  <h2>Settings</h2>
{% endif %}

{% macro render_field(field) %}
  <div class="form-group">
  {{ field.label }}
  {{ field(class='form-control', **kwargs)|safe }}
  <small class="form-text text-muted">{{ field.description }}</small>
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="invalid-feedback">{{ error }}</li>
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}

<form action="{{ url_for('c.user') }}" method="post">
  {{ form.csrf_token }}
  <div class="row">
    <div class="col">
      {{ render_field(form.name, autofocus='yes') }}
    </div>
    <div class="col">
      {{ render_field(form.email) }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{ render_field(form.address, rows=5) }}
    </div>
    <div class="col-md-4 pt-4">
      <small class="text-muted">
      Enter your complete address, including:
      your name, street address, city, postal code,
      and country name (on a line of its own).
      </small>
    </div>
  </div>
  {{ render_field(form.country) }}
  {{ render_field(form.languages) }}
  {{ render_field(form.description, rows=7) }}

  <div class="form-check mt-3">
    {{ form.does_requests(class='form-check-input')|safe }}
    {{ form.does_requests.label(class='form-check-label') }}
    <small class="form-text text-muted">Use this URL for sharing your profile:
      <a href="{{ url_for('c.profile', pcode=g.user.code) }}">{{ url_for('c.profile', pcode=g.user.code, _external=True) }}</a></small>
  </div>

  <div class="form-group mt-3">
    <div>{{ form.privacy.label }}</div>
    {% for subfield in form.privacy %}
      <div class="form-check ml-3">
        {{ subfield(class='form-check-input')|safe }}
        {{ subfield.label(class='form-check-label') }}
        {% if subfield.data == 4 %}
        <small class="form-text text-muted">There are {{ count_confirmed }} confirmed users.</small>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <p><input class="btn btn-lg btn-primary" type="submit" value="Save changes"></p>
  <p class="mt-5"><input class="btn btn-sm btn-outline-danger" type="submit" value="Disable account"></p>
</form>

{% endblock %}
