{% extends "layout.html" %}
{% block title %}
{% if g.user and g.user.is_registered %}
{{ g.user.name }}
{% else %}
Welcome
{% endif %}
&mdash;
{% endblock %}
{% block content %}

{% if not g.user.is_registered %}
  <h2>{{ _("Welcome to OSM Cards!") }}</h2>
  <p>{{ _("This is where you can send a postcard to any - or a specific - OpenStreetMap contributor, or receive a postcard. Make OSM feel more personal, be more connected to other mappers by exchanging hand-written cards. Share your personal code (below) to establish personal connection with somebody.") }}</p>
  <p>{{ _("Please fill in your name and address to start using the service. By registering you consent to storing your personal data. It won't be shared with anybody except for other registered users of this website.") }}</p>
{% else %}
  <h2>{{ _('Settings') }}</h2>
{% endif %}

<p>{{ _("Please use English for all fields, so that people from other countries could read your profile.") }}</p>

{% macro render_field(field) %}
  <div class="form-group">
  {{ field.label }}
  {{ field(class='form-control', **kwargs)|safe }}
  <small class="form-text text-muted">{{ field.description }}</small>
  {% if field.errors %}
    {% for error in field.errors %}
      <div class="invalid-feedback">{{ error }}</li>
    {% endfor %}
  {% endif %}
  </div>
{% endmacro %}

<form action="{{ url_for('c.user') }}" method="post">
  {{ form.csrf_token }}
  <div class="row">
    <div class="col">
      {{ render_field(form.name, autofocus='yes') }}
    </div>
    <div class="col">
      {{ render_field(form.email) }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      {{ render_field(form.address, rows=5) }}
    </div>
    <div class="col-md-4 pt-4">
      <small class="text-muted">
        {{ _("Enter your complete address, including: your name, street address, city, postal code, and country name (on a line of its own).") }}
      <br><br>
      {% set upu_link %}
      <a href="http://www.upu.int/en/activities/addressing/postal-addressing-systems-in-member-countries.html" target="_blank">{{ _("UPU recommendations") }}</a>
      {% endset %}
      {{ _("Refer to %(upu_link)s for your country to be sure.", upu_link=upu_link) }}
      </small>
    </div>
  </div>
  {{ render_field(form.country) }}
  {{ render_field(form.languages) }}
  {{ render_field(form.description, rows=7) }}

  <div class="form-check mt-3">
    {{ form.does_requests(class='form-check-input')|safe }}
    {{ form.does_requests.label(class='form-check-label') }}
    <small class="form-text text-muted">{{ _("Use this URL for sharing your profile") }}:
      <a href="{{ url_for('c.profile', pcode=g.user.code) }}">{{ url_for('c.profile', pcode=g.user.code, _external=True) }}</a></small>
  </div>

  <div class="form-group mt-3">
    <div>{{ form.privacy.label }}</div>
    {% for subfield in form.privacy %}
      <div class="form-check ml-3">
        {{ subfield(class='form-check-input')|safe }}
        {{ subfield.label(class='form-check-label') }}
        {% if subfield.data == 4 %}
        <small class="form-text text-muted">{{ ngettext("There is %(num)s confirmed user", "There are %(num)s confirmed users", count_confirmed) }}</small>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <p><input class="btn btn-lg btn-primary" type="submit" value="{{ _("Save changes") }}"></p>
  <p class="mt-5"><input class="btn btn-sm btn-outline-danger" type="submit" value="{{ _("Disable account") }}"></p>
</form>

{% endblock %}
