OPENSTREETMAP_CLIENT_ID = '{{ openstreetmap_client_id }}'
OPENSTREETMAP_CLIENT_SECRET = '{{ openstreetmap_client_secret }}'
SECRET_KEY = '{{ osmcards_secret_key }}'
DATABASE = 'mysql://osmcards:{{ mysql_osmcards_password }}@localhost:5432/osmcards?unix_socket=/var/run/mysqld/mysqld.sock'
BASE_URL = 'https://osmcards.org'
EMAIL_FROM = 'noreply@osmcards.org'
REPLY_TO = 'ilya@zverev.info'
