body {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

.navbar-brand {
  font-weight: bold;
  font-family: "PT Sans Caption", sans-serif;
}

.container-md a {
  text-decoration: underline;
}

.container-md a.btn {
  text-decoration: none;
}

.pre-wrap {
  white-space: pre-wrap;
}

#login-panel { text-align: center; margin: 2em 0 2em; }
